extends layout

include mixins/__storeCard
include mixins/__pagination

block content
    .inner
        h2= title
        .stores
            each store in stores
                +storeCard(store)
        +pagination(page, pages, count)